*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dark {
    color-scheme: dark;
}

.light {
    color-scheme: light;
}

:is(.light, .dark):not(input, textarea, button, select) {
    background: canvas;
    color: canvastext;
}

body {
    max-width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-rows: max-content 1fr 1rem;
    height: 100dvh;
}

.initial-test-class::after {
    content: ' (initial)';
}

.updated-test-class::after {
    content: ' (updated)';
}